
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="static/css/about.css">
    <title>aboutus</title>
</head>
<body>
<center><h1> GADGET REPAIR SERVICE </h1>
<h2>OUR SERVICES </h2>

<h2 style="width:85%">
	We offers one-stop-shop for repair, service, and technical support for electronic devices and electrical devices, specifically
Air conditioners,Refrigrators,microwave ovens, and televisions,washing machines
we fix a wide range of gadgets that matter to your daily lives.
</h2></center>
<br><br><br><br><br><br>

</body>
</html>
{% endblock %}