{% extends 'base.html' %}

{% block content %}
<html>
	<head>
	<link rel="stylesheet" href="static/css/login.css">
	</head>
	<body>
		<center><h1>welcome to easyfix </h1></center>
		<div>
		<h3 style="f width:40%;" >We offers one-stop-shop for repair, service, and technical support for electronic devices and electrical devices, specifically
			Air conditioners,Refrigrators,microwave ovens, and televisions,washing machines
			we fix a wide range of gadgets that matter to your daily lives.</h3>
		<div style="width:50%;">
		<img src="static/images/ser.jpg" alt="" height="" width=""; style="border-radius:0px;">
		</div>
		</div>
	</body>
</html>
{% endblock %}