.t {
    width: 40%;
    margin: auto;
    margin-top: 54px;
    background-color: cornsilk;
    border-radius: 6px;
    border-color: black;
    }
    *{
	text-decoration: none;
	font-family: Montserrat,sans-serif;
}
body{
	background-image: url("../images/2594902.jpg");
  	background-attachment:fixed;
  	background-repeat:no-repeat;
 	 background-size:100% 100%;
 	 }

.in{
	margin: 10px;
	border-radius: 10px;
	width: 60%;
	height: 40px;
	border-top-style:groove;
        border-right-style: groove;
        border-left-style: groove;
        border-bottom-style: groove;
	text-align: center;

}
.in:focus {
        outline: none;
      }
 .t >h2{
margin:0px 0px 10px! 0px ;
padding-top: 10px;

}